.order-column{
    display: flex;
    flex-direction: column;
}
.scroll{
    max-height: 70vh;
    overflow: scroll;
}
.my-box{
    display: -webkit-inline-box;
}
#exit_button{
    position:absolute;
    bottom: 5%;
    right: 20px;                
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}